*{
    margin: 0;
}
.container{
    height: 89px;
}
.top-left, .top-right{
    position: absolute;
    top: 24px;
}
.top-left{
    left: 24px;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 60px;
    align-items: center;
    margin-left: 40px;
    font-family: Fira Sans;
}
.container>button:hover{
    background-color: rgb(179, 44, 161);
}
.top-right{
    right: 24px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(21, 88, 21);
    border-color: green;
    background-color: rgb(241, 239, 239);
    border-radius: 5px;
    width: 100px;
    margin-right: 40px;

    height: 34px;
}
.bangladesh { display: flex; justify-content: space-between; align-items: center;background-color:#C6E4D6;
height: 500px;border-radius: 24px;margin: 26px 40px;} 

.outerbox>.innerbox{
    font-family: Fira Sans;
    padding-left: 55px;
    flex-direction: column;
    align-items: center;

}
.outerbox>.innerbox>#title1{
    font-size:18px;
    font-weight: 500;
    color: #7a6969;
}

.outerbox>.innerbox>#heading1{
    color: #0E0E0E;
    font-weight: bold;
    font-size: xx-large;
    padding-top: 7px;margin-top: 10px;}
    

.outerbox>.innerbox> button{
    font-size: medium;
    font-weight: 400;
    background-color:#006A50;
    border-radius: 5px;
    color: #0E0E0E;
    margin-top: 10px;



}
.outerbox1>.innerbox{
    padding-bottom: 10px;
}
.pillars{
    margin: 38px;
}
.pillars>.fours{
    display: inline-block;
    justify-content:space-evenly;
    margin-left: 9px;
    width: 23%;
    border-radius: 6px;
    background-color: rgb(234, 243, 243);
    padding:3px;
    font-family: Fira Sans;
}
.pillars>.fours>.inovation{
    font-weight: bold;
    font-size: medium;
}
.pillars>#ptitle{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 20px;
    margin: 20px 20px;
    font-family: Fira Sans;
}
.vision>.energy{
    display: inline-block;
    justify-content:space-evenly;
    width: 30%;
    height: 200px;
    margin-left: 18px;
    border-radius: 10px;
    background-color: rgb(234, 243, 243);
    padding:3px;
    font-family: Fira Sans;

}
.vision>#v-title{
    font-family:Fira Sans ;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 22px;
    margin-bottom: 20px;
}
.vision>#v-description{
    font-size: 16px;
    margin: 10px 40px;
    margin-left: 22px;
    background-color: #fafdfcef;
}
.vision{
    margin:10px 30px;
}
.energy>.vision-title{
    font-family: Fira Sans;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;

}
.vision>.energy{
    align-items: flex-start;
    display: inline-block;
    justify-content: space-evenly;
}
.energy>button{
    border-radius: 6px;
    margin-top: 15px;
}
.chif-note{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    margin-top: 30px;
    width: 90%;
    margin-left: 44px;
    border-radius: 10px;
    padding: 10px;
    font-family: Fira Sans ;
}
table{
    border-collapse: collapse;
    width: 90%;
    margin-left: 44px;
    border: 1px solid black;
}
th{
    border: 1px solid rgb(34, 20, 48);
    text-align: left;
    width: 75%;
    margin-top: 10px;
}
.table1> #caption{
    font-size:35px;
    font-weight: bold; 
    text-align: left; 
    margin-top: 29px;
    margin-bottom: 10px;
    font-family: Fira Sans;
    
}
.tableBody>tr, td{
    border: 1px solid #131111;
    width: 40px;
}
td>button{
    margin-left:35%;
}
.satellite-section>#recent{
    font-family: Fira Sans;
    font-size:35px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 44px;

}
.satellite-section>#recentp{
    margin-left: 44px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 90%;
    font: Fira Sans;
}
.satellite-section1>.child{
    display: flex;
    border-radius: 10px;
    margin-top: 30px;

}
.satellite-section1{
    width: 90%;
    margin-left: 44px;
    border: 1px solid rgb(204, 204, 195);
    border-radius: 15px;
    padding: 10px;
    height: 90%;
}
.child>#satelite{
    
    margin: 15px 40px;
    border-radius: 10px;
    width: auto;

}
#bold-line1{
    font-size: 23px;
    font-weight: bold;
    font-family: Fira Sans;
    margin-top: 15px;}


 #description1{
    margin-top: 10px;
    font-family: Fira Sans;

 } 
 .station>.second-satelite{
    display: flex;
 }
 .btn{
    width: 150px;
    height: 30px;
    font-size: small;
    font-weight: bold;
    background-color: #0b3b2f;
    border-radius: 10px;
    margin-top: 30px;
 } 
 .station{
    display:flex;
    
 }
 .station{
    width:90%;
    margin-left: 44px;
    margin-top: 20px;
    border: 1px solid rgb(218, 218, 208);
    border-radius: 15px;
    padding: 10px;
 }
 .station>.marking1{
    padding: 20px;
 }
 .station>.marking1>#new{
    font-family:Fira Sans;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
 }
 .station>.marking1>#new1{
    margin-top: 10px;
    font-size: 16px;
    margin-top: 30px;
    font-family: Fira Sans;
 }
 #new3{
    margin: 20px 30px;
    padding-top: 20px ;
 }
 .donate{
    margin-top: 30px;
    margin-left: 44px;
    padding: 20px;
 }
 .donate>#id1{
    text-align: center;
    font-size: 23px;
    font-family: Fira Sans;
    font-weight: bold;
    margin-bottom: 20px;

 }
 .donate>#id2{
    text-align: center;
    font-size: 13px;
    font-family: Fira Sans;
    margin-bottom: 30px;
    }
 .amount>#table2 tr{
    width: 90%;}
 .amount>#table2 td{
    border: 20px solid #ffffff;
    height: 40px;
    border-radius: 25px;
    font-family: Fira Sans;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(226, 230, 236);
    text-align: center;
    margin-bottom: 50px;
    margin-left: 5px;
 }
#input1{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    height: 30px;
    color: #7a6969;
    background-color: #ebf3f0;
    border-radius: 5px;
    border: 1px solid #ffff;]
    border-bottom: 50px;}
#submit1{
    text-align: center;
    border: 1px solid rgb(236, 231, 224);
    margin-top: 20px;
    margin-left: 43%;
    height: 20px;
    font-size: medium;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #006A50;
}
.subs{
    text-align: center;
    margin-top: 40px;
    border: 1px solid rgb(253, 249, 249);
    border-radius: 10px;
    width: 90%;
    margin-left: 44px;
    padding: 20px;
    height: 250px;
    font-family:  Fira Sans;
    background-color: #C6E4D6;
}
#subs1{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
#subs2{
    border: 1px solid rgb(240, 228, 228);
    height: 50px;
    padding: 5px 20px;
    text-align: center;
    width: 67%;
    margin-left: 20%;
    margin-bottom: 30px;
    color: #443636;
}
#subs3{
    width: 60%;
    height: 30px;
    padding-left: 30px;
}
#subs4{
    border: 1px solid black;
    height: 30px;
    padding: 8px;
    font-weight: bold;
    background-color: rgb(24, 83, 49) ;
    border-radius: 5px;
    margin-left: 0;}

#subs5{
    margin-top: 20px;
    color: #2b2424;
}
